<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
<p style="margin-top: 0.5rem; font-size: 0.9rem;">
  Full list: <a href="/publications/">Publications page</a> &nbsp;·&nbsp;
  <a href="https://scholar.google.com/citations?user=cIiNWmYAAAAJ&sortby=pubdate" target="_blank">Google Scholar</a>
</p>
