<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
<p style="margin-top: 0.75rem; font-size: 0.875rem; color: var(--global-text-color-light);">
  Full list (39): <a href="/publications/">Publications page</a> &nbsp;·&nbsp;
  <a href="https://scholar.google.com/citations?user=cIiNWmYAAAAJ&sortby=pubdate" target="_blank">Google Scholar</a><br>
  <sup>*</sup>Equal contribution
</p>
